body {
  background-color: black;
}

.landing-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.landing-page.visible {
  opacity: 1;
}

.terminal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
}

pre {
  overflow-x: auto;
  width: 380px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.chunk {
  display: block;
  padding-left: 1em;
}

.inline {
  display: inline;
  animation: fade-in 0.01s linear;
  animation-fill-mode: forwards;
  opacity: 0;
}

/* TODO: make thick flashing cursor */
@keyframes fade-in {
  to {
    opacity: 1;
  }
}

.active {
  opacity: 0;
}

.lavender {
  color: lavender;
}

code {
  display: block;
  padding: 15px;
}

#command-line {
  border: none;
  background-color: #111;
  font-size: 12px;
}
